sphinx==7.3.7
sphinx-book-theme==1.1.4
sphinxcontrib-bibtex==2.6.5
autodoc-pydantic==1.8.0
myst-nb==1.2.0
sphinx-autoapi==3.5.0
sphinx-copybutton==0.5.2
sphinx-paramlinks==0.6.0
sphinx-favicon==1.0.1
sphinx-immaterial==0.13.6
jupyter-sphinx==0.5.3
beautifulsoup4==4.12.3
